@using Dtos.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<NavigationsResultModel>
@using UmbracoUI2.Models
@using UmbracoUI2.Web.Constants;
@{ 
    var languages = UmbracoUI2Constants.Languages.ToList();
    var languageCookie  = Request.Cookies[UmbracoUI2Constants.LanguagesCookieKey];
    var currentLanguage = languageCookie.Value;
    if (string.IsNullOrEmpty(currentLanguage))
    {
        currentLanguage = UmbracoUI2Constants.Languages.FirstOrDefault().Value;
    }
    var cultureInfo= new System.Globalization.CultureInfo(currentLanguage);
    var languageTitle = UmbracoUI2.Helpers.UmbracoUI2Helper.GetDictionaryValue(UmbracoUI2Constants.DictionaryKey.LanguageSwitch, cultureInfo, Umbraco.UmbracoContext);
}
<nav id="mainav" class="fl_right">
    <ul class="clear">
        @RenderChildItems(Model.Navigations.ToList())
        <li >
            <a  class="drop  fh5co-sub-ddown">@languageTitle</a>
            <ul class="sub-menu language-menu">
                @if (languages != null)
                {
                    foreach (var item in languages)
                    {
                        <li><span data-value="@item.Value" class="laguage-item">@item.Key</span></li>
                    }
                }
            </ul>
        </li>
    </ul>
</nav>
@helper RenderChildItems(List<NavigationListItem> listItems)
{

    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <li>
                @if (item.Link != null)
                {
                    var isDropClass = item.HasChildren ? "drop" : "";
                    <a href="@item.Link.Url" class="@isDropClass  @(item.HasChildren ? "fh5co-sub-ddown" : null)" target="@item.Link.Target">@item.Link.Text</a>
                }

                @if (item.HasChildren)
                {
                    <ul class="sub-menu">
                        @RenderChildItems(item.Items)
                    </ul>
                }
            </li>
        }
    }
}
