@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItems>>
@using UmbracoUI2.Models

<nav id="menu-wrap" role="navigation">
    <ul class="menu" id="primary-menu">
        @RenderChildItems(Model)
    </ul>
</nav>

@helper RenderChildItems(List<NavigationListItems> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <li>
                @if (!String.IsNullOrEmpty(item.Text))
                {
                    @item.Text
                }
                else if (item.Link != null)
                {
                    <a href="@item.Link.Url" class="@(Umbraco.AssignedContentItem.Url == item.Link.Url ? "active" : null) @(item.HasChildren ? "fh5co-sub-ddown" : null)" target="@item.Link.Target">@item.Link.Text</a>
                }

                @if (item.HasChildren)
                {
                    <ul class="sub-menu">
                        @RenderChildItems(item.Items)
                    </ul>
                }
            </li>
        }       
    }
}