@using Dtos.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<NavigationsResultModel>
@using UmbracoUI2.Models

<nav id="mainav" class="fl_right">
    <ul class="clear">
        @RenderChildItems(Model.Navigations.ToList())
    </ul>
</nav>
@helper RenderChildItems(List<NavigationListItem> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <li>
                @if (item.Link != null)
                {
                    var isDropClass = item.HasChildren ? "drop" : "";
                    <a href="@item.Link.Url" class="@isDropClass  @(item.HasChildren ? "fh5co-sub-ddown" : null)" target="@item.Link.Target">@item.Link.Text</a>
                }

                @if (item.HasChildren)
                {
                    <ul class="sub-menu">
                        @RenderChildItems(item.Items)
                    </ul>
                }
            </li>
        }
    }
}
